@(pagerUtil: vn.fabrica.utils.PagerUtil, route:Int => Call)
<div class="pb_centered">
    <div class="pagination">
        <ul>
        	@if(pagerUtil.getPage() != 1){
        		<li><a href="@pagerUtil.makeUrl(route(1).url)">&lt;&lt;</a></li>
        		<li><a href="@pagerUtil.makeUrl(route(pagerUtil.getPage()-1).url)">&lt;</a></li>
        	}
            
            @for( i <- pagerUtil.getStart() to pagerUtil.getEnd()){
		         @if(i == pagerUtil.getPage()){
		         	<li>[@i]</li>
		         } else {
		         	<li><a href="@pagerUtil.makeUrl(route(i).url)">@i</a></li>
		         }
		    }
      
			@if(pagerUtil.getPageCount() != pagerUtil.getPage()){
        		<li><a href="@pagerUtil.makeUrl(route(pagerUtil.getPage()+1).url)">&gt;</a></li>
        		<li><a href="@pagerUtil.makeUrl(route(pagerUtil.getPageCount()).url)">&gt;&gt;</a></li>
			}
        </ul>
    </div>
</div>