<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="service.UserMapper">
    <select id="all" resultType="model.User">
        SELECT * FROM users ORDER BY id
    </select>

    <select id="getUserById" parameterType="Integer" resultType="model.User">
        SELECT * FROM users WHERE id = #{id}
    </select>
    
   	<insert id="insert" parameterType="model.User" useGeneratedKeys="true" keyProperty="id">
	   INSERT INTO users(fullname, birthday, phone, email, date_added)
	   VALUES(#{fullname}, #{birthday}, #{phone}, #{email}, NOW())
	</insert>
	
	<update id="update" parameterType="map">
	    UPDATE users 
	    SET
	     	fullname		= #{user.fullname},
	     	birthday		= #{user.birthday},
	     	phone			= #{user.phone},
	     	email			= #{user.email},
	     	date_modified	= NOW()
	    WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
	   DELETE FROM users WHERE id = #{id}
	</delete>
</mapper>