@(users: List[model.User], pager: utils.Pager)
@assets.put("stylesheets/index.css")
@assets.put("javascript/index.js", "footer")

@main("List User") {
	@if(flash.containsKey("success")){
	<div class="alert alert-success alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <strong> @flash.get("success")</strong>
	</div>
	}
	
	@if(flash.containsKey("error")){
	<div class="alert alert-danger alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <strong>@@flash.get("error")</strong>
	</div>
	}

	<a href="@routes.UserCtr.create()">create</a><br/>
	@if(users !=null && !users.isEmpty()) {
        <ul>
            @for(user <- users) {
                <li>@user.getId() - @user.getFullname() - @user.getEmail() - @user.getPhone() - @user.getBirthday().format("yyyy/MM/dd") - @user.getDateAdded().format("yyyy/MM/dd") <a href="@routes.UserCtr.update(user.getId())">edit</a> | <a href="@routes.UserCtr.delete(user.getId())">delete</a></li>
            }
        </ul>
    }
    
    @if(pager != null){
    	@assets.pager(pager, routes.UserCtr.list(_))
    }
}
