@(users: List[vn.fabrica.models.User], pager: vn.fabrica.utils.PagerUtil)
@ui.utils.addCss("stylesheets/index.css")
@ui.utils.addScript("javascript/index.js")
@ui.utils.assign("title", "Home Page")

@ui.templates.main {
	@if(flash.containsKey("success")){
	<div class="alert alert-success alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <strong> @flash.get("success")</strong>
	</div>
	}
	
	@if(flash.containsKey("error")){
	<div class="alert alert-danger alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <strong>@@flash.get("error")</strong>
	</div>
	}

	<a href="@vn.fabrica.controllers.routes.UserController.create()">create</a><br/>
	@if(users !=null && !users.isEmpty()) {
        <ul>
            @for(user <- users) {
                <li>@user.getId() - @user.getFullname() - @user.getEmail() - @user.getPhone() - @user.getBirthday().format("yyyy/MM/dd") - @user.getDateAdded().format("yyyy/MM/dd") <a href="@vn.fabrica.controllers.routes.UserController.update(user.getId())">edit</a> | <a href="@vn.fabrica.controllers.routes.UserController.delete(user.getId())">delete</a></li>
            }
        </ul>
    }
    
    @if(pager != null){
    	@ui.utils.pager(pager, vn.fabrica.controllers.routes.UserController.list(_))
    }
}
