@(users: List[vn.fabrica.dto.User], pager: vn.fabrica.utils.PagerUtil)
@ui.utils.addCss("stylesheets/index.css")
@ui.utils.addScript("javascript/index.js")
@ui.utils.assign("title", "Home Page")

@ui.templates.main {
	@if(flash.containsKey("success")){
	<div class="alert alert-success alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <strong> @flash.get("success")</strong>
	</div>
	}
	
	@if(flash.containsKey("error")){
	<div class="alert alert-danger alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	    <strong>@@flash.get("error")</strong>
	</div>
	}

	<a href="@vn.fabrica.controllers.routes.UserController.create()">create</a><br/>
	@if(users !=null && !users.isEmpty()) {
		<table>
			<tr>
				<td>@Html(pager.sort("id", "ID"))</td>
				<td>@Html(pager.sort("fullname", "Fullname"))</td>
				<td>@Html(pager.sort("email", "Email"))</td>
				<td>@Html(pager.sort("phone", "Phone"))</td>
				<td>@Html(pager.sort("birthday", "Birthday"))</td>
				<td>@Html(pager.sort("date_added", "DateAdded"))</td>
				<td>Edit</td>
				<td>Delete</td>
			</tr>
			@for(user <- users) {
				<tr>
	                <td>@user.getId()</td>
					<td>@user.getFullname()</td>
					<td>@user.getEmail()</td>
					<td>@user.getPhone()</td>
					<td>@user.getBirthday().format("yyyy/MM/dd")</td>
					<td>@user.getDateAdded().format("yyyy/MM/dd")</td>
					<td><a href="@vn.fabrica.controllers.routes.UserController.update(user.getId())">edit</a></td>
					<td><a href="@vn.fabrica.controllers.routes.UserController.delete(user.getId())">delete</a></td>
				</tr>
            }
		</table>
        
        @ui.utils.pager(pager, vn.fabrica.controllers.routes.UserController.list(_))
    }
}
